<footer class="footer">
    <p>{{ gettext('Kontakty') }}: <a href="mailto:silentcry@post.cz" class="text-red-500 hover:underline">silentcry@post.cz</a></p>
    <p>Tel: <a href="tel:+420774402857" class="text-red-500 hover:underline">+420 774 402 857</a> (Roman Dombi).</p>
    <p>Instagram: <a href="https://www.instagram.com/silentcryband/" class="text-red-500 hover:underline">@silentcryband</a></p>
    <p>Youtube: <a href="https://www.youtube.com/@SilentCry-cz" class="text-red-500 hover:underline">@SilentCryband</a></p>
    <br>
    <p>{{ gettext('2025 Silent Cry.') }}</p>
</footer>